@alertScope: ~'@{prefixCls}Alert';
.@{alertScope}, .ant-alert {
  border-radius: 4px;
  padding: 10px 24px;
  min-height: 32px;
  border-color: transparent;
  .ant-alert-icon {
    font-size: 18px;
    align-self: flex-start;
  }
  &:not(.ant-alert-with-description) {
    .ant-alert-icon {
      min-height: 24px;
      line-height: 24px;
      & > svg {
        vertical-align: inherit;
      }
    }
  }
  &.ant-alert-with-description {
    .ant-alert-message {
      font-size: @font-size-base;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      color: @heading-color;
    }
    .ant-alert-icon {
      margin-top: -2px;
      font-size: 18px;
    }
    .ant-alert-close-icon {
      padding-top: 4px;
    }
    .ant-alert-description {
      font-size: 13px;
      color: @text-color;
    }
  }
  .ant-alert-close-icon {
    color: @text-color;
  }
  &.ant-alert-info {
    background-color: @alert-info;
    &.textColor .ant-alert-message, .ant-alert-icon {
      color: @primary-color;
    }
  }
  &.ant-alert-success {
    background-color: @alert-success;
    &.textColor .ant-alert-message, .ant-alert-icon {
      color: @success-color;
    }
  }
  &.ant-alert-error {
    background-color: @alert-error;
    &.textColor .ant-alert-message, .ant-alert-icon {
      color: @error-color;
    }
  }
  &.ant-alert-warning {
    &.textColor .ant-alert-message, .ant-alert-icon {
      color: @warning-color;
    }
    background-color: @alert-warning;
  }
}