@CollapseScope: ~'@{prefixCls}Collapse-container';
@DescriptionScope: ~'@{prefixCls}Description';

.@{CollapseScope} {
  padding: 24px 0 24px;
  & + & {
    border-top: 1px solid @border-color-base;
  }
  & + .@{DescriptionScope} {
    padding-top: 24px;
    border-top: 1px solid @border-color-base;
  }
  &:first-child {
    padding-top: 0;
  }
  &__body {
    .@{DescriptionScope} {
      padding-bottom: 0;
      & + & {
        padding-top: 0;
      }
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }
  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: @heading-color;
    .sc-question-circle {
      color: @text-color;
      cursor: pointer;
      &:hover {
        color: @primary-color;
      }
    }
    &__text {
      padding-right: 4px;
    }
  }
  &-action {
    height: 24px;
    overflow: hidden;
    .sc-xiangxia {
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;
      transform: rotate(0);
      transition: all 0.5s;
      &.arrow-up {
        transform: rotate(180deg);
        transition: all 0.5s;
      }
    }
  }
}
.@{DescriptionScope} {
  padding-bottom: 24px;
  & + & {
    border-top: 1px solid @border-color-base;
    padding-top: 24px;
  }
  & + .@{CollapseScope} {
    border-top: 1px solid @border-color-base;
  }
  .ant-descriptions-view {
    table {
      display: table;
    }
    th, td {
      padding: 0;
    }
    th {
      background-color: transparent;
    }
  }
  .ant-descriptions-item-label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    // line-height: 22px;
    height: 22px;
    overflow: hidden;
    // line-height: 16px;
    color: @text-color-secondary;
    &::after {
      // display: none;
      content: '';
    }
    .scTag.notBorder {
      font-size: 14px;
      color: @text-color-secondary;
      .underline-dashed {
        text-decoration-color: @text-color-secondary;
      }
    }
  }
  .ant-descriptions-item-container {
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    padding-right: 60px;
  }
  .ant-descriptions-item-content {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: @heading-color;
  }
  .ant-descriptions-item-label, .ant-descriptions-item-content {
    align-items: center;
    align-self: start;
    i.sc-ui, i.iconfont, .anticon {
      cursor: pointer;
      margin-left: 4px;
      color: @text-color;
      &:hover {
        // color: @link-color1;
        color: @primary-color;
      }
      &:active {
        color: @primary-color;
        // color: @link-color;
      }
    }
    i.sc-ui, i.iconfont {
      line-height: 22px;
    }
  }
  &.ant-descriptions-small .ant-descriptions-row > th {
    padding-bottom: 4px;
    background: transparent;
  }
  &.ant-descriptions-small .ant-descriptions-row:not(:last-child) > td {
    padding-bottom: 12px;
    background: transparent;
  }

  .ant-descriptions-title {
    line-height: 24px;
  }
  .ant-descriptions-header {
    margin-bottom: 16px;
  }
  &-vertical {
    &.ant-descriptions-small .ant-descriptions-row:not(:last-child) > td {
      padding-bottom: 24px;
    }
  }
}
