@scFormScope: ~'@{prefixCls}Basic-form';
@scFormActionScope: ~'@{prefixCls}FormAction';

.@{scFormScope} {
  .ant-btn {
    & + .ant-btn {
      margin-left: 16px;
    }
  }
  .ant-form-item-label > label {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 500;
    // color: @heading-color;
  }
  .scInput {
    display: block;
    max-width: inherit;
  }
  .scSelect {
    display: block;
    max-width: inherit;
    width: inherit;
  }
  .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: @error-color;
    margin-right: 2px;
    margin-top: 4px;
    // content: '*';
  }
  .ant-form-item {
    margin-bottom: 20px;
  }
  .ant-form-item-has-error {
    margin-bottom: 2px;
  }
  .@{scFormActionScope} {
    &-collapse-btn {
      & > i.sc-xiangxia {
        display: inline-block;
        &.up {
          transform: rotate(-180deg);
          transition: 0.2s all;
        }
        &.down {
          transform: rotate(0);
          transition: 0.2s all;
        }
      }
    }
  }
}