.scModal {
  border-radius: 10px;
  &-title {
    position: relative;
    display: flex;
  }
  .ant-modal-header, .ant-modal-footer {
    border-color: transparent;
  }
  .ant-modal-header {
    padding: 28px 32px 10px;
    font-size: 12px;
    color: @heading-color;
  }
  .ant-modal-body {
    padding: 14px 32px;
  }
  .ant-modal-footer {
    padding: 10px 32px;
  }
  .ant-modal-close-x {
    padding-top: 2px;
    font-size: 12px;
    color: @heading-color;
  }
}