@modalScope: ~'@{prefixCls}Modal';
// .ant-modal-wrap {
//   .@{modalScope} {
//     width: var(--model-width, width) !important;
//   }
// }
.@{modalScope}, .ant-modal {
  .scTable {
    padding: 0;
    .tableEmpty {
      min-height: auto;
      padding-top: 8px;
      padding-bottom: 0;
    }
    .tableEmpty-text {
      position: relative;
      padding-top: 0;
      top: -8px;
    }
  }
  .ant-modal-content {
    border-radius: @border-r-6;
  }
  border-radius: @border-r-6;
  &-title {
    position: relative;
    display: flex;
  }
  .ant-modal-header, .ant-modal-footer {
    border-color: transparent;
  }
  .ant-modal-header {
    padding: 16px 32px;
    font-size:@font-mini;
    color: @white-color;
    background-color: @primary-color;
    border-radius: @border-r-6 @border-r-6 0 0;
    // header {
    //   padding: 16px 32px;
    // }
    .draggable-event {
      cursor: move;
    }
  }
  .ant-modal-title {
    display: inline-block;
    color: @white-color;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .@{modalScope}-tooltip {
    padding-left: 4px;
  }
  .@{modalScope}-tooltip__icon {
    font-size: @font-size-base;
    color: @white-color;
  }
  .ant-modal-body {
    padding: 24px 32px 32px;
    font-size: @font-size-base;
    color: @text-color-secondary;
    font-weight: 400;
    line-height: 22px;
  }
  .ant-modal-footer {
    padding: 0 32px 32px;
    text-align: center;
    button + button {
      margin-left: 16px;
    }
  }
  .ant-modal-close-x {
    padding-top: 2px;
    font-size: @font-size-base;
    color: @white-color;
  }
  .@{modalScope}-footer__cancel {
    background: @cancel-btn-color;
    &:hover, &:active, &:link, &:focus {
      background: @cancel-btn-color;
      border-color: @cancel-btn-color;
      color: @heading-color;
    }
    &:hover {
      background: @border-color-base;
    }
    &:active, &:link, &:focus {
      background: @btn-active-color;
    }
  }
  .@{modalScope}-footer .@{modalScope}-footer__ok {
    background: @primary-color;
    .btnPrimary();
  }
  &-status {
    display: flex;
    word-break: break-all;
    margin-right: -32px;
    margin-left: -32px;
    // height: 32px;
    line-height: 22px;
    padding: 8px 16px 8px 32px;
    color: @text-color-secondary;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.04);
    &-icon {
      font-size: 16px;
    }
    & + .@{modalScope}-content {
      background: #fff;
      margin-right: -32px;
      margin-left: -32px;
      padding: 24px 32px 0;
    }
  }
  .@{modalScope}-txt {
    font-style: normal;
    font-weight: 400;
    font-size: @font-size-base;
    padding-left: 8px;
    vertical-align: top;
  }
  &-info:not(.ant-modal-confirm) {
    background-color: @info-bg-color;
    .@{modalScope}-status-icon {
      color: @primary-color;
    }
    .@{modalScope}-txt {
      color: @primary-color;
    }
  }
  &-success {
    background-color: @success-bg-color;
    .@{modalScope}-status-icon {
      color: @success-color;
    }
    .@{modalScope}-txt {
      color: @success-color;
    }
  }
  &-warning {
    background-color: @warning-bg-color;
    .@{modalScope}-status-icon {
      color: @warning-color;
    }
    .@{modalScope}-txt {
      color: @warning-color;
    }
  }
  &-error {
    background-color: @error-bg-color;
    .@{modalScope}-status-icon {
      color: @error-color;
    }
    .@{modalScope}-txt {
      color: @error-color;
    }
  }
  .sc-guanbi {
    font-size: 20px;
  }
  &-container-status {
    .ant-modal-body {
      margin-top: -24px;
    }
  }
  &:not(.ant-modal-confirm) .ant-modal-header .anticon-close {
    &::after {
      color: @white-color;
      font-size: 18px;
      top: -4px;
    }
  }
}
.ant-modal-confirm {
  // .ant-modal-content {
  //   padding: 30px 0;
  // }
  &.ant-modal {
    .ant-modal-body {
      padding: 32px 32px 24px;
    }
  }
  .ant-modal-confirm-btns {
    & > button:first-child:not(.ant-btn-primary) {
      background: @btn-info-bg;
      border-color: @btn-info-bg;
      &:hover {
        background: @border-color-base;
        border-color: @border-color-base;
        color: @heading-color;
      }
      &:focus,
      &:active {
        color: @heading-color;
        background: @btn-active-color;
        border-color: @btn-active-color;
      }
    }
  }
  .ant-modal-confirm-body > .anticon {
    font-size: 24px;
  }
  &-success {
    .ant-modal-confirm-body > .anticon {
      color: @success-color;
    }
  }
  &-error {
    .ant-modal-confirm-body > .anticon {
      color: @error-color;
    }
  }
  &-warning {
    .ant-modal-confirm-body > .anticon {
      color: @warning-color;
    }
  }
  &-info {
    .ant-modal-confirm-body > .anticon {
      color: @primary-color;
    }
  }
  &.scModal-confirm {
    .ant-modal-body {
      padding: 30px 32px 24px;
    }
    .ant-modal-close-x {
      color: @text-color;
      .sc-guanbi {
        font-size: 16px;
        color: @text-color-secondary;
      }
    }
    background-color: transparent;
  }
  
}