.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border-color: @border-pagination-color;
}
.ant-pagination-jump-prev:focus, .ant-pagination-jump-next:focus {
  .ant-pagination-item-link-icon {
    opacity: 0;
  }
  .ant-pagination-item-ellipsis {
    opacity: 1;
  }
  &:hover {
    .ant-pagination-item-link-icon {
      opacity: 1;
    }
    .ant-pagination-item-ellipsis {
      opacity: 0;
    }
  }
}
.ant-pagination-total-text {
  font-weight: 400;
  font-size: 14px;
  color: @text-color;
}
.ant-pagination-options-quick-jumper {
  height: 30px;
  line-height: 30px;
  input {
    height: 30px;
    margin-right: 0;
    &:focus, &:active {
      border-color: @primary-color;
    }
  }
}
.scTable-zh {
  .ant-pagination-options-quick-jumper {
    input {
      margin-right: 8px;
    }
  }
}
.ant-pagination-item {
  a {
    color: @heading-color;
    &:hover {
      color: @primary-color;
    }
  }
  &:focus, &:hover {
    border-color: @primary-color;
    color: @primary-color;
  }
}
.ant-pagination .ant-pagination-item-active {
  border-color: @primary-color;
  background-color: @primary-color;
  a {
    color: @white-color;
  }
  &:focus, &:hover {
    a {
      color: @white-color;
    }
  }
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: @heading-color;
}
.ant-pagination {
  white-space: nowrap;
  .ant-pagination-prev {
    i.sc-you {
      display: block;
      transform: rotate(180deg);
      // color: inherit;
    }
  }
  .ant-pagination-disabled {
    i {
      color: fade(@color-000, 26%);
    }
  }
}
.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
  border-color: @border-pagination-color;
  &:hover, &:focus, &:active {
    color: @primary-color;
    border-color: @primary-color;
  }
}
.ant-pagination.mini .ant-pagination-item {
  margin-left: 8px;
}
.ant-pagination.mini .ant-pagination-options-quick-jumper input {
  height: auto;
}