.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border-color: @border-pagination-color;
}
.ant-pagination-total-text {
  font-weight: 400;
  font-size: 14px;
  color: @text-color;
}
.ant-pagination-options-quick-jumper {
  height: 30px;
  line-height: 30px;
  input {
    height: 30px;
    &:focus, &:active {
      border-color: @primary-color;
    }
  }
}
.ant-pagination-item {
  a {
    color: @heading-color;
    &:hover {
      color: @primary-color;
    }
  }
  &:focus, &:hover {
    border-color: @primary-color;
    color: @primary-color;
  }
}
.ant-pagination .ant-pagination-item-active {
  border-color: @primary-color;
  background-color: @primary-color;
  a {
    color: @white-color;
  }
  &:focus, &:hover {
    a {
      color: @white-color;
    }
  }
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: @heading-color;
}
.ant-table-pagination {
  white-space: nowrap;
  .ant-pagination-prev {
    i {
      display: block;
      transform: rotate(180deg);
      color: inherit;
    }
  }
  .ant-pagination-disabled {
    i {
      color: fade(@color-000, 26%);
    }
  }
}