/*************************** radios  **************************************/

.ant-radio-group-outline.ant-radio-group {
  // display: inline-flex;
  // flex-wrap: wrap;
  margin-bottom: -8px;
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: @bg-color;
    border-color: fade(@primary-color, 40%);
    color: @primary-color;
    font-weight: 500;
    &::before {
      background-color: @radio-button-border;
    }
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: @radio-button-border;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: fade(@primary-color, 40%);
  }
  .ant-radio-button-wrapper {
    color :@text-color;
    font-weight: 400;
    background: @radio-button-bg;
    box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.1);
    // font-size: @font-mini;
    border-color: @radio-button-border;
    margin-bottom: 8px;
  }
  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):not(.ant-radio-button-wrapper-checked):hover {
    color: @primary-color;
    border-color: @radio-button-border;
    background-color: @bg-color;
  }
  .ant-radio-button-wrapper-disabled {
    background: @steps-wait-color;
    color: @disabled-color;
  }
  &.triggerMultiple {
    .ant-radio-button-wrapper {
      padding: 0;
    }
    .triggerMultiple-item {
      padding: 0 15px;
    }
  }
  &.scLine {
    .ant-radio-button-wrapper {
      border-left: 1px solid @radio-button-border;
      border-radius: @border-r-3;
      border: 1px solid @radio-button-border;
      // min-width: 142px;
      // padding-left: 8px;
      // padding-right: 8px;
      // text-align: center;
      &:first-child {
        margin-right: 8px;
      }
      & + .ant-radio-button-wrapper {
        margin-right: 8px;
      }
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: @radio-button-border;
      display: none;
    }
  }
  .ant-radio-button-wrapper {
    border-left: 1px solid @radio-button-border;
    border-radius: @border-r-3;
    border: 1px solid @radio-button-border;
    min-width: 72px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    &:first-child {
      margin-right: 8px;
    }
    & + .ant-radio-button-wrapper {
      margin-right: 8px;
    }
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: @radio-button-border;
    display: none;
  }
  .ant-radio-wrapper {
    margin-bottom: 8px;
  }
  &.btnTabs {
    background-color: @cancel-btn-color;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 0;
    .ant-radio-button-wrapper {
      color: @text-color;
      margin-bottom: 0;
      min-width: 74px;
      background-color: unset;
      border: unset;
      box-shadow: unset;
      height: 28px;
      line-height: 28px;
      border-radius: 2px;
      margin-bottom: 0;
      &:first-child {
        margin-right: 4px;
      }
      & + .ant-radio-button-wrapper {
        margin-right: 4px;
      }
      &:last-child {
        margin-right: 0;
      }
      &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        font-weight: 400;
        background-color: @white-color;
        color: @primary-color;
        // background-color: ;
      }
      &:not(.ant-radio-button-wrapper-disabled):not(.ant-radio-button-wrapper-checked):hover {
        color: @heading-color;
        background-color: unset;
      }
      &.ant-radio-button-wrapper-disabled {
        // background-color: @white-color;
        color: @disabled-color;
      }
    }
  }
  &.btnLine {
    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):not(.ant-radio-button-wrapper-checked) {
      &:hover {
        color: @primary-color;
        border-color: @primary-color;
      }
      &:focus,
      &:active {
        color: @primary-color;
        border-color: @primary-color;
      }
    }
    .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled) {
      background-color: transparent;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border-color: @primary-color;
    }
  }
}
.ant-radio-checked {
  &::after {
    border-color: @primary-color;
  }
  .ant-radio-inner {
    border-color: @primary-color;
    background-color: @bg-color;
  }
}
.ant-radio-wrapper {
  color: @heading-color;
}
.ant-radio-wrapper:hover .ant-radio, 
.ant-radio:hover .ant-radio-inner, 
.ant-radio-input:focus + .ant-radio-inner {
  border-color: @primary-color;
}
.ant-radio-inner {
  background-color: @bg-color;
  &::after {
    background-color: @primary-color;
  }
}
.ant-radio-disabled .ant-radio-inner {
  border-color: @border-color-base !important;
  background-color: @disabled-bg-color;
}
.radio-min-width142 {
  &.ant-radio-group-outline.ant-radio-group {
    .ant-radio-button-wrapper {
      min-width: 142px;
    }
  }
}
.isRadio {
  .isRadioTooltip {
    text-decoration: underline dashed;
    text-decoration-thickness: from-font;
    text-underline-offset: 4px;
  }
}