@selectScope: ~'@{prefixCls}Select';
.ant-select-disabled {
  .anticon-down {
    &::after {
      background: @disabled-bg;
      color: @disabled-color;
    }
  }
}
.ant-select:not(.ant-pagination-options-size-changer) {
  &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 28px 0 8px;
  }
  &.is-prefix{
    &.ant-select-single:not(.ant-select-customize-input) {
      .ant-select-selector {
        padding: 0 28px 0 30px;
      }
    }
  }

  &.ant-select:not(.ant-select-disabled):hover {
    .ant-select-selector {
      border-color: @primary-color;
    }
    .ant-select-arrow {
      .sc-you {
        color: @primary-color;
      }
    }
  }
  &.ant-select:not(.ant-select-disabled):focus {
    .ant-select-selector {
      border-color: @primary-color;
      box-shadow: 0 0 0 2px @hover-shadow;
    }
    .ant-select-arrow {
      .sc-you {
        color: @primary-color;
      }
    }
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) {
    .ant-select-selector {
      .ant-select-selector {
        border-color: @primary-color;
        box-shadow: 0 0 0 2px @hover-shadow;
      }
      .ant-select-arrow {
        .sc-you {
          color: @primary-color;
        }
      }
    }
  }
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: @primary-color;
  box-shadow: 0 0 0 2px @hover-shadow;
}
.ant-select-arrow {
  top: 50%;
  right: 11px;
  color: @heading-color;
}
.scDropdown {
  min-width: 150px;
  padding: 6px;
  border-radius: @border-r-6;
}
div.ant-select-dropdown {
  padding: 6px 0;
  border-radius: @border-r-6;
}
.ant-select-dropdown {
  .ant-select-item {
    // min-height: 28px;
    // line-height: 28px;
    padding: 0;
    .ant-select-item-option-content {
      margin: 0 6px;
      padding: 4px 8px;
      border-radius: @border-r-3;
    }
    border-radius: @border-r-3;
    color: @heading-color;
    & + .ant-select-item {
      .ant-select-item-option-content {
        margin-top: 2px;
      }
    }
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    .ant-select-item-option-content {
      background-color: @table-Menu-bg;
      color: @primary-color;
    }
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled):not(.ant-select-item-option-selected) {
    background-color: transparent;
    .ant-select-item-option-content {
      background-color: @select-hover-bg;
    }
  }
  .ant-select-item:not(.ant-select-item-option-disabled):not(.ant-select-item-option-selected) {
    &:active {
      .ant-select-item-option-content {
        background-color: @active-bg;
      }
    }
    &:hover {
      .ant-select-item-option-content {
        background-color: @select-hover-bg;
      }
    }
  }
  .ant-select-dropdown-content {
    .ant-checkbox-group {
      width: 100%;
      .ant-checkbox-wrapper {
        width: 100%;
      }
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      .ant-checkbox-wrapper-checked {
        color: @primary-color;
      }
    }
    .tableEmpty {
      min-height: 160px;
    }
  }
  .ant-select-item-option-disabled {
    color: @disabled-color;
  }
  &.dropdown-large {
    .ant-select-item {
      font-size: 16px;
      .ant-select-item-option-content {
        padding:9px 8px;
      }
      // :global{
      //   @select-dropdown-height: 40px; // select option 高度
      //   @select-dropdown-line-height: 40px;// select option line-height 高度
      // }
    }
  }
  &.dropdown-small {
    .ant-select-item {
      font-size: 12px;
      // @select-dropdown-height: 22px; // select option 高度
      // @select-dropdown-line-height: 22px;// select option line-height 高度
      .ant-select-item-option-content {
        padding:0 8px;
      }
    }
  }
}
.ant-select {
  // min-width: 216px;
  &.ant-select-multiple {
    .ant-select-selection-item {
      background: @active-bg;
      padding-inline-end: 8px;
      color: @heading-color;
      border-radius: @border-r-3;
    }
    .ant-select-selection-item-content {
      margin-right: 8px;
    }
  }
  &:hover {

  }
  &.ant-select-sm {
    .ant-select-item-option-content {
      padding: 0 9px;
    }
  }
  &.ant-select-open {
    .ant-select-arrow {
      transform: rotate(180deg) translateX(-4px);
      transition: 0.6s all;
      i {
        color: @primary-color;
      }
    }
  }
}
.@{selectScope} {
  display: inline-block;
  max-width: 216px;
  width: 216px;
  .ant-select {
    width: 100%;
  }
  &-xs {
    width: @input-xs-width;
    max-width: @input-xs-width;
  }
  &-x {
    width: @input-x-width;
    max-width: @input-x-width;
  }
  &-md {
    width: @input-md-width;
    max-width: @input-md-width;
  }
  &-l {
    width: @input-l-width;
    max-width: @input-l-width;
  }
  &-xl {
    width: @input-xl-width;
    max-width: @input-xl-width;
  }
  &.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: @disabled-bg-color;
  }
  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: @border-color-base;
    border-radius: @border-r-3;
  }
  .ant-select-arrow {
    .sc-you {
      font-size: 16px;
      display: block;
      transform: rotate(90deg) translateX(-4px);
      color: @text-color-secondary;
    }
  }
  .clearSelect {
    position: absolute;
    z-index: 2;
  }
  &.is-prefix {
    position: relative;
  }
  &-prefix {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    z-index: 1;
  }
  &.is-disabled {
    .@{selectScope}-prefix {
      color: @disabled-color;
    }
  }
}