@sliderScope: ~'@{prefixCls}Slider';
.@{sliderScope} {
  &-main {
    display: flex;
    // justify-content: center;
    align-items: center;
  }
  &-container {
    position: relative;
    padding: 0 10px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 10px;
      height: 10px;
      background-color: @primary-color;
      border-radius: 15px 0 0 15px;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 1px;
      width: 10px;
      height: 10px;
      background-color: @slider-bg-color;
      border-radius: 0 15px 15px 0;
    }
    & + .scInputNumber {
      margin-left: 34px;
    }
  }
}

.@{sliderScope} {
  overflow: inherit;
  .vue-slider-dot {
    width: auto !important;
    height: auto !important;
  }
  .vue-slider-rail {
    background: @slider-bg-color;
    height: 10px;
    border-radius: 0;
  }
  .vue-slider-process {
    background-color: @primary-color;
    border-radius: 0;
  }
  .sc-dot-wrapper {
    height: 24px;
    background: #fff;
    border-radius: 11px;
    transition: all 0.3s;
    cursor: pointer;
  }
  .sc-dot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    height: 24px;
    background-color: @slider-dot-bg;
    box-shadow: @primary-shadow;
    color: @white-color;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    &::after {
      position: absolute;
      content: '';
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: inherit;
      box-shadow: @shadow-outset-color;
      z-index: 1;
    }
  }
  .vue-slider-mark-step {
    border-radius: 0 0 50% 50%;
    background: @slider-bg-color;
  }
  &.vue-slider-ltr {
    .vue-slider-mark-step {
      width: 50%;
      height: 50%;
      top: 10px;
    }
  } 
  &.vue-slider-rtl {
    .vue-slider-mark-step {
      width: 50%;
      height: 50%;
      top: 10px;
    }
  }
  .vue-slider-mark:first-child .vue-slider-mark-step, 
  .vue-slider-mark:last-child .vue-slider-mark-step {
    display: block;
  }
  &-tooltip {
    display: flex;
    &__title {
      padding-left: 6px;
    }
  }
  .vue-slider-mark-label {
    color: @slider-marker-color;
  }
  &-marker__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-left: 4px;
  }
  &-marker__icon {
    display: inline-flex;
    & > i {
      font-size: 10px;
    }
    & > img {
      width: 10px;
    }
  }
}