@sliderScope: ~'@{prefixCls}Slider';
.@{sliderScope} {
  &-main {
    display: flex;
    // justify-content: center;
    align-items: center;
    min-height: 40px;
  }
  &-container {
    position: relative;
    padding: 0 10px;
    z-index: 0;
    .vue-slider {
      height: 10px!important;
      padding: 0!important;
      &::before {
        content: '';
        position: absolute;
        left: -10px;
        bottom: 0;
        width: 11px;
        height: 10px;
        background-color: @btn-light-color;
        border-radius: 15px 0 0 15px;
        z-index: 2;
      }
      &::after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 10px;
        height: 10px;
        background-color: @slider-bg-color;
        border-radius: 0 15px 15px 0;
      }
    }
    & + .scInputNumber {
      margin-left: 34px;
    }
    .vue-slider-disabled {
      opacity: 1;
      .vue-slider-process {
        background-color: @slider-marker-color;
      }
      &::before {
        background-color: @slider-marker-color;
      }
      .sc-dot {
        background-color: @slider-marker-color;
        box-shadow: @shadow-outset-disabled;
      }
      .sc-dot-wrapper {
        box-shadow: @shadow-outset-disabled;
        cursor: not-allowed;
      }
    }
  }
}

.@{sliderScope} {
  overflow: inherit;
  .vue-slider-dot {
    width: auto !important;
    height: auto !important;
  }
  .vue-slider-rail {
    background: @slider-bg-color;
    height: 10px;
    border-radius: 0;
  }
  .vue-slider-process {
    background-color:  @btn-light-color;
    border-radius: 0;
  }
  .sc-dot-wrapper {
    position: relative;
    min-height: 24px;
    background: #fff;
    border-radius: 11px;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: @shadow-outset-filter-color;
    padding: 4px;
    border-radius: 20px;
    // &::after {
    //   position: absolute;
    //   content: '';
    //   left: 0;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   border-radius: inherit;
    //   box-shadow: @shadow-outset-filter-color;
    //   z-index: 1;
    //   background: #fff;
    // }
  }
  .sc-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    height: 24px;
    background-color: @btn-light-color;
    box-shadow: @primary-shadow;
    color: @white-color;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
  .vue-slider-mark-step {
    border-radius: 0 0 50% 50%;
    background: @slider-bg-color;
  }
  &.vue-slider-ltr {
    .vue-slider-mark-step {
      width: 50%;
      height: 50%;
      top: 10px;
    }
  } 
  &.vue-slider-rtl {
    .vue-slider-mark-step {
      width: 50%;
      height: 50%;
      top: 10px;
    }
  }
  .vue-slider-mark:first-child .vue-slider-mark-step, 
  .vue-slider-mark:last-child .vue-slider-mark-step {
    display: block;
  }
  &-tooltip {
    display: flex;
    &__title {
      padding-left: 6px;
    }
  }
  .vue-slider-mark-label {
    color: @slider-marker-color;
  }
  &-marker__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-left: 4px;
  }
  &-marker__icon {
    display: inline-flex;
    & > i {
      font-size: 10px;
    }
    & > img {
      width: 10px;
    }
  }
}