@stepScope: ~'@{prefixCls}Step';
.@{stepScope} {
  position: relative;
  flex-shrink: 1;
  &-head {
    position: relative;
    width: 100%;
    &.is-process {
      color: @steps-process-color;
      // background-color: @steps-process-color;
    }
    &.is-wait {
      color: @steps-wait-color;
      // background-color: @steps-wait-color;
    }
    &.is-finish {
      color: @steps-finish-color;
      // background-color: @steps-finish-color;
    }
    &.is-error {
      color: @steps-error-color;
      // background-color: @steps-error-color;
      .scStep-icon {
        border: none;
        font-size: 26px;
        position: relative;
        width: 32px;
        height: 32px;
        i.sc-ui {
          box-shadow: @error-shadow;
          border-radius: 50%;
        }
        border-radius: 50%;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          box-shadow: @shadow-outset-color;
        }
      }
    }
    &.is-success {
      color: @steps-success-color;
      // background-color: @steps-success-color;
      .scStep-icon {
        position: relative;
        border: none;
        font-size: 26px;
        width: 32px;
        height: 32px;
        // box-shadow: @primary-shadow;
        i.sc-ui {
          box-shadow: @primary-shadow;
          border-radius: 50%;
        }
        border-radius: 50%;
        background: transparent;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: @shadow-outset-color;
          background: @bg-color;
        }
      }
    }
  }


  &-icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    font-size: 14px;
    box-sizing: border-box;
    background: @bg-color;
    transition: 0.15s ease-out;
    &.is-text {
      border-radius: 50%;
      border-color: inherit;
    }
    &.is-icon {
      width: 40px;
      font-size: 26px;
    }
    .sc-ui {
      position: absolute;
      z-index: 2;
      font-size: 26px;
    }
  }

  &-line {
    position: absolute;
    border-color: @steps-process-color;;
    background-color: @steps-process-color;
  }

  &:last-of-type {
    .scStep-line {
      display: none;
    }
  }

  &-line-inner {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    transition: 0.15s ease-out;
    box-sizing: border-box;
    width: 0;
    height: 0;
  }

  &__icon-inner {
    display: inline-block;
    user-select: none;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    &.is-status {
      transform: translateY(1px);
    }
  }

  &-main {
    white-space: normal;
    text-align: left;
  }

  &-title {
    font-size: 14px;
    line-height: 38px;

    &.is-process {
      color: @steps-process-color;
      // background-color: @steps-process-color;
    }
    &.is-wait {
      color: @steps-wait-txt-color;
      // background-color: @steps-wait-color;
    }
    &.is-finish {
      color: @steps-finish-color;
      // background-color: @steps-finish-color;
    }
    &.is-error {
      // color: @steps-error-color;
      // background-color: @steps-error-color;
    }
    &.is-success {
      color: @steps-success-color;
      // background-color: @steps-success-color;
    }
  }

  &-description {
    padding-right: 10%;
    // margin-top: -5px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    color: @text-color;
    &.is-process {
      color: @steps-process-color;
      // background-color: @steps-process-color;
    }
    &.is-wait {
      color: @steps-wait-color;
      // background-color: @steps-wait-color;
    }
    &.is-finish {
      color: @steps-finish-color;
      // background-color: @steps-finish-color;
    }
    &.is-error {
      // color: @steps-error-color;
      // background-color: @steps-error-color;
    }
    &.is-success {
      // color: @steps-success-color;
      // background-color: @steps-success-color;
    }
  }

  // &.is-horizontal {
    // display: inline-block;
    // .scStep-line {
    //   height: 2px;
    //   top: 11px;
    //   left: 0;
    //   right: 0;
    // }
  // }

  &.is-center {
    .scStep-head {
      text-align: center;
    }
    .scStep-main {
      text-align: center;
    }
    .scStep-description {
      padding-left: 20%;
      padding-right: 20%;
    }
    .scStep-line {
      left: 50%;
      right: -50%;
    }
  }
  &.simple {
    flex-basis: auto!important;
    padding-left: 28px;
    .scStep-arrow {
      padding-left: 28px;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  &.simple, &.is-horizontal, &.is-horizontal{
    display: flex;
    align-items: center;

    .scStep-head {
      width: auto;
      font-size: 0;
      padding-right: 8px;
      &.is-success {
        .scStep-icon {
          position: relative;
          i.sc-ui {
            box-shadow: @primary-shadow;
            border-radius: 50%;
          }
          border-radius: 20px;
          &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: @shadow-outset-color;
            z-index: 1;
          }
        }
      }
      &.is-error {
        .scStep-icon {
          position: relative;
          i.sc-ui {
            box-shadow: @error-shadow;
            border-radius: 50%;
          }
          border-radius: 20px;
          &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: @shadow-outset-color;
          }
        }
      }
    }

    .scStep-icon {
      background: transparent;
      width: 32px;
      height: 32px;
      font-size: 26px;
      vertical-align: middle;
    }

    .scStep-icon-inner {
      &[class*='#{$namespace}-icon']:not(.is-status) {
        font-size: 18px;
      }

      &.is-status {
        transform: scale(0.8) translateY(1px);
      }
    }
    .scStep-icon.is-text {
      border: none;
    }

    .scStep-main {
      position: relative;
      display: flex;
      align-items: stretch;
      flex-grow: 1;
    }
    .scStep-title {
      font-size: 14px;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      line-height: 26px;
      &.is-success {
        color: @steps-process-color;
      }
      &.is-error {
        color: @steps-process-color;
      }
    }
    .scStep:not(:last-of-type) {
      .scStep-title {
        max-width: 50%;
        word-break: break-all;
      }
    }
    .scStep-arrow {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: @text-color-secondary;
      }
    }
    &:last-of-type {
      .scStep-arrow {
        display: none;
      }
    }
  }
  .@{stepScope}-head:not(.is-success):not(.is-wait) {
    .@{stepScope}__icon-inner {
      font-size: 26px;
    }
  }
  &.is-horizontal, &.is-vertical {
    .scStep-main {
      .scStep-arrow {
        position: relative;
      }
      .scStep-line {
        width: calc(100% - 32px);
        background: @text-color-secondary;
        border-color: @text-color-secondary;
        height: 2px;
      }
      // &.is-success {
      //   // .scStep-line-inner {
      //   //   border-color: @steps-success-color;
      //   // }
      //   // .scStep-line {
      //   //   background: @steps-success-color;
      //   // }
      // }
      // &.is-error {
      //   .scStep-line-inner {
      //     border-color: @steps-error-color;
      //   }
      //   .scStep-line {
      //     background: @steps-error-color;
      //   }
      // }
    }
    .scStep-head:not(.is-error):not(.is-success):not(.is-wait) {
      .scStep-icon:not(.is-icon) {
        font-size: 16px;
        position: relative;
        border-radius: 20px;
        width: 32px;
        height: 32px;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          box-shadow: @shadow-outset-color;
          z-index: 1;
        }
        color: @bg-color;
        .@{stepScope}__icon-inner {
          width: 26px;
          height: 26px;
          background: @steps-success-color;
          box-shadow: @primary-shadow;
          border-radius: 50%;
          line-height: 26px;
          font-size: 16px;
        }
      }
    }
    .scStep-head {
      &.is-wait {
        .scStep-title {
          font-weight: 300;
        }
        .scStep-icon:not(.is-icon) {
          font-size: 16px;
          border-radius: 50%;
          color: @bg-color;
          .@{stepScope}__icon-inner {
            width: 26px;
            height: 26px;
            background: @steps-wait-color;
            border-radius: 50%;
            line-height: 26px;
            font-size: 16px;
          }
        }
      }
    }
  }
  &.is-vertical {
    display: flex;
    .scStep-head {
      flex-grow: 0;
      width: 32px;
      // &.is-success {
      //   // .scStep-line {
      //   //   background: @steps-success-color;
      //   //   border-color: @steps-success-color;
      //   // }
      // }
      // &.is-error {
      //   .scStep-line {
      //     background: @steps-success-color;
      //     border-color: @steps-success-color;
      //   }
      // }
    }
    .scStep-main {
      padding-left: 10px;
      flex-grow: 1;
    }
    .scStep-title {
      line-height: 24px;
    }
    .scStep-description {
      color: @text-color;
    }
    .scStep-line {
      width: 2px;
      top: 40px;
      bottom: 16px;
      left: 11px;
      background: @text-color-secondary;
      border-color: @text-color-secondary;
    }
    .scStep-icon {
      &.is-icon {
        width: 24px;
      }
    }
  }
}