@tableScope: ~'@{prefixCls}Table';
@tableFilterScope: ~'@{prefixCls}TableFilter';
@tableActionsScope: ~'@{prefixCls}Actions';
@tableDropdown: ~'@{prefixCls}TableDropdown';

.@{tableScope} {
  padding: @space-6;
  .ant-table-thead > tr > th {
    height: 40px;
    background: @table-header-bg;
    padding: 8px 16px;
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: @table-td-hover;
  }
  .ant-table-tbody > tr > td {
    height: 48px;
    border-bottom: 1px solid @table-border-color;
    box-sizing: border-box;
  }
  .ant-table-tbody > .ant-table-row:hover > td {
    background: @table-td-hover;
  }
  .ant-table-tbody > .ant-table-row-selected > td {
    background: #f0f6ff;
  }
  // .ant-table-tbody > tr > td
  .ant-table-thead > tr > th {
    white-space: nowrap;
  }
  .ant-table.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
    line-height: 22px;
    padding: 12px 16px;
  }
  .ant-table.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th {
    line-height: 22px;
    padding: 8px 16px;
  }
  .ant-table-small .ant-table-selection-column {
    width: 48px;
    min-width: 48px;
  }
  .ant-pagination-item a {
    color: @heading-color;
    &:hover {
      color: @primary-color;
    }
  }
  .ant-pagination-item-active a {
    color: @primary-color;
  }
  .icon-down-circle {
    margin-right: 10px;
    cursor: pointer;
    color: @text-color-secondary;
  }
  .icon-up-circle {
    cursor: pointer;
    margin-right: 10px;
    color: @primary-color;
  }
}
.ant-table-scroll-position-right .ant-table-cell-fix-right-first:after, 
.ant-table-scroll-position-right .ant-table-cell-fix-right-last:after, 
.ant-table-scroll-position-right:not(.ant-table-has-fix-right) .ant-table-container:after {
  box-shadow: inset -2px 0 8px -8px rgb(0 0 0 / 15%);
}
.ant-table-scroll-position-left .ant-table-cell-fix-left-first:after,
.ant-table-scroll-position-left .ant-table-cell-fix-left-last:after, 
.ant-table-scroll-position-left:not(.ant-table-has-fix-left) .ant-table-container:before {
  box-shadow: inset -2px 0 8px -8px rgb(0 0 0 / 15%);
}

.@{tableFilterScope} {
  display: flex;
  padding-bottom: @space-4;
  justify-content: space-between;
  &-left {
    div:last-child {
      margin-left: @space-2;
    }
  }
  .ant-btn-primary {
    padding: 0 14px;
  }
  &-right {
    display: flex;
    .ant-btn {
      line-height: 22px;
      padding: 4px 7px;
      border-color: @border-color-base;
      & + .ant-btn {
        margin-left: 8px;
      }
      &:focus, &:visited, &:link {
        border-color: @primary-color;
        color: @primary-color;
      }
    }
    .ant-select {
      margin-right: -1px;
      &:hover, &:focus, &:active, &:link {
        z-index: 1;
      }
      &.ant-select-focused {
        z-index: 1;
      }
    }
    .ant-select-selector {
      border-radius: @border-r-3 0 0 @border-r-3 !important;
    }
    .scSerach {
      width: 120px;
      height: 32px;
      border-radius: 0 @border-r-3 @border-r-3 0;
      box-sizing: border-box;
      .ant-input-suffix {
        & > i {
          cursor: pointer;
        }
        & > span {
          display: none;
        }
      }
    }
  }
  &-active {
    margin-left: 8px;
  }
}
.@{tableActionsScope} {
  height: 22px;
  .ant-btn-link {
    padding: 0;
    height: 22px;
    box-sizing: border-box;
  }
  .ant-btn-link {
    & > span {
      padding: 0 8px;
    }
    &:first-child {
      & > span {
        padding-left: 0;
      }
    }
    &.ant-btn-loading {
      min-width: 60px;
      & > span:last-child {
        display: none;
      }
    }
  }
  .ant-btn-link:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 4px;
      width: 1px;
      height: 16px;
      background: @table-border-color;
    }
  }
}

.ant-pagination-options-size-changer {
  .ant-select-selector {
    padding: 0 14px;
  }
  &.ant-select-show-arrow .ant-select-selection-item {
    padding-right: 22px;
  }
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover,
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .anticon-filter, 
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .ant-table-filter-icon{
  background: @table-header-bg;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters:hover::before {
  background: transparent;
}
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open, 
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open,
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover {
  background: @table-header-bg;
  color: @primary-color;
}
.ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon {
  right: auto;
  color: fade(@color-000, 20%);
}
// .ant-table-thead > tr > th 

.ant-menu-vertical > .ant-menu-item, 
.ant-menu-vertical-left > .ant-menu-item, 
.ant-menu-vertical-right > .ant-menu-item, 
.ant-menu-inline > .ant-menu-item, 
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, 
.ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, 
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: auto;
  line-height: 22px;
}
.ant-menu-submenu {
  &::marker {
    display: none;
  }
}
.tbCopy {
  a {
    color: @primary-color;
    padding-right: 6px;
  }
  span {
    color: @primary-color;
  }
}
.ant-table.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td.tdEllipsis {
  line-height: 22px;
}
.tableEmpty {
  min-height: 560px;
  padding-top: 117px;
  .tableEmpty-img {
    text-align: center;
    & img {
      width: 98px;
      height: 64px;
      margin: 0 auto;
    }
  }
  p {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    text-align: center;
    color: fade(@color-000, 40);
  }
}


// .vp-doc uo
.vp-doc .vitepress-demo li + li {
  margin-top: auto;
}

.vp-doc .vitepress-demo table {
  margin: 0;
}
.vp-doc .vitepress-demo th {
  font-size: 14px;
}
.vp-doc .vitepress-demo th, .vp-doc  .vitepress-demo td {
  border: none;
}
.vp-doc .vitepress-demo tr {
  border: none;
}
.vp-doc .vitepress-demo tr:nth-child(2n) {
  background-color: transparent;
}
.vp-doc .vitepress-demo p, .vp-doc .vitepress-demo summary {
  margin: 0;
}
.vp-doc .vitepress-demo p {
  line-height: 22px;
}
.vp-doc .vitepress-demo table {
  overflow: hidden;
}