@tagScope: ~'@{prefixCls}Tag';
.tag-filter {
  background: #ECF2FE;
  border: none;
  border-radius: 20px;
  padding: 2px 8px;
  margin-bottom: 8px;
  color: @primary-color;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  .ant-tag-close-icon {
    color: @primary-color;
    font-size: 12px;
    &::after {
      color: @primary-color;
    }
  }
}
.@{tagScope} {
  border: 1px solid @border-color-base;
  background: @select-hover-bg;
  padding: 1px 8px;
  color: @heading-color;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  &-dark {
    border-color: @border-color;
    background: @border-color;
  }
  &-light {
    border-color: @select-hover-bg;
    background: @select-hover-bg;
  }
  &-outline {
    background: transparent;
  }
  &.ant-tag > .anticon + span, 
  &.ant-tag > span + .anticon {
    margin-left: 2px;
  }
  &.is-selected {
    background: @primary-color;
    border-color: @primary-color;
    color: @white-color;
  }
}