.ant-tooltip-arrow-content {
  width: 8px;
  height: 8px;
}
.ant-tooltip-inner {
  border-radius: @border-r-3;
  overflow: hidden;
  padding: 5px 8px;
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: fade(@color-000, 0.9);
  line-height: 22px;
  word-break: break-all;
  overflow-wrap: break-word;
  /* text-align: justify; */
  line-break: anywhere;
}

.ant-tooltip {
  .ant-tooltip-inner {
    color: #333;
    background-color: @white-color;
  }
  
  .ant-tooltip-arrow-content {
    background-color: @white-color;
  }
}

.ant-tooltip.notArrow {
  padding-bottom: 0;
  .ant-tooltip-arrow {
    display: none;
  }
}