.ant-transfer {
  .ant-btn[disabled]:not(.ant-btn-text):not(.ant-btn-link).ant-btn-primary {
    color: @disabled-color;
    background-color: @disabled-bg-color;
    border-color: @border-pagination-color;
  }
}