@bg-color: #fff;

//************************** steps
// steps-wait-color
@steps-wait-color: #F5F5F5;
// steps-process-color
@steps-process-color: #000000;
// steps-process-color
@steps-success-color: #24a6f3;
// steps-error-color
@steps-error-color: #f53f3f;

@steps-finish-color: #00A870;

@steps-line-color: #a8abb2;

@steps-wait-txt-color: #abacab;
