@prefixCls: 'sc';

@bg-color: #fff;

@border-r-3: 3px;
@border-r-6: 6px;

@primary-color: #008CD3; // 全局主色
@link-color: #007DBD; // 链接色
@success-color: #00A870; // 成功色
@warning-color: #FF7D00; // 警告色
@error-color: #E34D59; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.9); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 3px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

@white-color: #fff;

//************************** steps
// steps-wait-color
@steps-wait-color: #F5F5F5;
// steps-process-color
@steps-process-color: #000000;
// steps-process-color
@steps-success-color: #24a6f3;
// steps-error-color
@steps-error-color: #f53f3f;

@steps-finish-color: @success-color;

@steps-line-color: #a8abb2;

@steps-wait-txt-color: #abacab;

//*************************** tabs

@tabs-btn-textColor: rgba(0, 0, 0, 0.4);

@tabs-btn-activeColor: @primary-color;


//************************** radio


//************************** alert

@alert-info: #F0F8FD;
@alert-success: #F0FAF7;
@alert-warning: #FEF6EF;
@alert-error: #FEF3F4;


//************************ modal

@cancel-btn-color: #E7E7E7;
@icon-hover-bgColor: #EEEEEE;
@icon-active-bgColor: #DCDCDC;

@info-bg-color: fade(@primary-color, 6%);
@success-bg-color: fade(@success-color, 6%);
@error-bg-color: fade(@error-color, 6%);
@warning-bg-color: fade(@warning-color, 6%);
