.scTextCollapse {
  padding-top: 4px;
  color: @primary-color;
  cursor: pointer;
}
.scTooltip-white {
  .ant-tooltip-inner {
    color: #333;
    background-color: #fff !important;
  }

  .ant-tooltip-arrow-content {
    background-color: #fff !important;
  }
}