@font-face {
  font-family: "sc-ui"; /* Project id 3690753 */
  src: url('iconfont.woff2?t=1671515665586') format('woff2'),
       url('iconfont.woff?t=1671515665586') format('woff'),
       url('iconfont.ttf?t=1671515665586') format('truetype'),
       url('iconfont.svg?t=1671515665586#iconfont') format('svg');
}

.sc-ui {
  font-family: "sc-ui" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sc-success:before {
  content: "\e67e";
}

.sc-error-fill:before {
  content: "\ed4f";
}

.sc-a-Exclude1:before {
  content: "\e603";
}

.sc-a-Union1:before {
  content: "\e602";
}

.sc-caret-down:before {
  content: "\e8ec";
}

.sc-caret-up:before {
  content: "\e8ed";
}

.sc-caret-right:before {
  content: "\e8ee";
}

.sc-caret-left:before {
  content: "\e8ef";
}

.sc-zhanghaoguanli:before {
  content: "\e67c";
}

.sc-shangchuanjindu:before {
  content: "\e67b";
}

.sc-time-circle:before {
  content: "\e784";
}

.sc-down-circle:before {
  content: "\e77f";
}

.sc-up-circle:before {
  content: "\e785";
}

.sc-delete:before {
  content: "\e7c3";
}

.sc-file:before {
  content: "\e7be";
}

.sc-info-circle:before {
  content: "\e77e";
}

.sc-question-circle:before {
  content: "\e782";
}

.sc-sync:before {
  content: "\e786";
}

.sc-setting:before {
  content: "\e78e";
}

.sc-edit-square:before {
  content: "\e791";
}

.sc-file-excel:before {
  content: "\e7b7";
}

.sc-file-pdf:before {
  content: "\e7b8";
}

.sc-file-image:before {
  content: "\e7b9";
}

.sc-file-markdown:before {
  content: "\e7ba";
}

.sc-file-ppt:before {
  content: "\e7bb";
}

.sc-file-word:before {
  content: "\e7bc";
}

.sc-file-copy:before {
  content: "\e7bd";
}

.sc-folder:before {
  content: "\e7d1";
}

.sc-upload:before {
  content: "\e7ef";
}

.sc-download:before {
  content: "\e7f0";
}

.sc-minus-circle-fill:before {
  content: "\e844";
}

.sc-plus-circle-fill:before {
  content: "\e845";
}

.sc-question-circle-fill:before {
  content: "\e846";
}

.sc-warning-circle-fill:before {
  content: "\e848";
}

.sc-View:before {
  content: "\e917";
}

.sc-fangda:before {
  content: "\e67a";
}

.sc-anquanzu:before {
  content: "\e677";
}

.sc-add:before {
  content: "\e674";
}

.sc-remove:before {
  content: "\e676";
}

.sc-zhanghulei:before {
  content: "\e60f";
}

.sc-caiwulei:before {
  content: "\e610";
}

.sc-beianlei:before {
  content: "\e611";
}

.sc-Centos:before {
  content: "\e60b";
}

.sc-Ubuntu:before {
  content: "\e673";
}

.sc-Windows:before {
  content: "\e675";
}

.sc-rizhiguanli:before {
  content: "\e671";
}

.sc-wulijiagou:before {
  content: "\e672";
}

.sc-fanghuoqiang:before {
  content: "\e670";
}

.sc-GPU:before {
  content: "\e66f";
}

.sc-CPU:before {
  content: "\e66e";
}

.sc-zhanghuzhongxin:before {
  content: "\e669";
}

.sc-caozuorizhi:before {
  content: "\e66c";
}

.sc-RAMshenfenrenzheng:before {
  content: "\e66d";
}

.sc-quanbuziyuan:before {
  content: "\e668";
}

.sc-yidong:before {
  content: "\e660";
}

.sc-mimakejian_jinshi:before {
  content: "\e65d";
}

.sc-gongdan:before {
  content: "\e65f";
}

.sc-xinjian:before {
  content: "\e661";
}

.sc-xiangxia:before {
  content: "\e662";
}

.sc-sousuo:before {
  content: "\e663";
}

.sc-feiyongzhongxin:before {
  content: "\e664";
}

.sc-zhongwen:before {
  content: "\e665";
}

.sc-xiaoxi:before {
  content: "\e666";
}

.sc-beian:before {
  content: "\e667";
}

.sc-yingwen:before {
  content: "\e66a";
}

.sc-bukejian:before {
  content: "\e66b";
}

.sc-Frame:before {
  content: "\e65b";
}

.sc-guanbi:before {
  content: "\e65c";
}

.sc-you:before {
  content: "\e65e";
}

.sc-duixiangcunchu:before {
  content: "\e651";
}

.sc-danxingIP:before {
  content: "\e652";
}

.sc-luojinshufuwuqi:before {
  content: "\e653";
}

.sc-jiguizuping:before {
  content: "\e654";
}

.sc-VPN:before {
  content: "\e655";
}

.sc-shebeituoguan:before {
  content: "\e656";
}

.sc-yunfuwuqi:before {
  content: "\e657";
}

.sc-yunyingpan:before {
  content: "\e658";
}

.sc-MySQLshujuku:before {
  content: "\e659";
}

.sc-a-VPCxunizhuanyouwangluo:before {
  content: "\e65a";
}

